.page-main {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

* {
  font-weight: 500;
}

.container {
  margin: 0px 164px;
}

header .container {
  gap: 0px;
}

.sect2 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin: 0px 164px;
}

.fc-div {
  margin-top: 100px;
}

.fc-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;
}

.head {
  margin-bottom: 80px;
}

.heading {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 14px;
}

.card-mover {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #0f0f0f;
  border: 1px solid #1f1f1f;
  border-radius: 12px;
  gap: 16px;
}

.card-mover button {
  display: flex;
  padding: 14px;
  border: 1px solid #1f1f1f;
  background-color: #1a1a1a;
  border-radius: 8px;
  cursor: pointer;
}

.card-mover button svg {
  width: 17px;
}

.card-mover .order {
  display: flex;
  align-items: center;
  gap: 3px;
}

.card-mover .order hr:first-child {
  width: 23px;
  background-color: #e50000;
}

.card-mover .order hr {
  width: 17px;
  height: 4px;
  border-radius: 100px;
  border: none;
  background-color: #333333;
}

.fc-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.fc-top {
  justify-content: space-between;
}

.fc-trend {
  gap: 15px;
}

.fc-card {
  padding: 30px;
  border-radius: 12px;
  background-color: #1a1a1a;
  border: 1px solid #262626;
}

.fc-card img {
  object-fit: cover;
}

.fc-go {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fc-go svg {
  cursor: pointer;
}

.fc-go h4 {
  font-size: 18px;
  font-weight: var(--fw-6);
}

.fc-go svg {
  width: 18px;
}

.fc-between {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fc-between div {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--red);
  font-weight: var(--fw-600);
  font-size: 16px;
  text-align: center;
}

.fc-between h4 {
  font-weight: 600;
  font-size: 20px;
}

.fc-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.duration,
.view {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 10px;
  background-color: #141414;
  border: 1px solid #262626;
  border-radius: 50px;
}

.duration i,
span,
.view i,
span,
.fc-date {
  color: #999999;
}

.fc-trend .fc-card,
.fc-new .fc-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fc-date {
  padding: 6px 10px;
  text-align: center;
  border: 1px solid #262626;
  background-color: #141414;
  border-radius: 50px;
}

.fc-date span {
  color: #bfbfbf;
}

.fc-new {
  gap: 15px;
}

.fa-star {
  position: relative;
}

.fc-must {
  gap: 20px;
}

.sticky-btn {
  position: absolute;
  left: 60px;
  top: -30px;
  background-color: var(--red);
  font-size: 20px;
  font-weight: var(--fw-600);
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  color: white;
  text-align: center;
}
